<div id="playEpisodeContainer">
	<div class="videoContainer">
		<div *ngIf="videoOnStage" class="videoOnStage">
			<app-video-player [videoMetaData]="videoMetaData"></app-video-player>
		</div>
	</div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-12 content">
          <div class="col-xs-6">
            <strong>Om avsnitt</strong>
            <p>Progammet handlar om progammet handlar om progammet handlar om progammet handlar om progammet handlar om progammet handlar om progammet handlar om progammet handlar om progammet handlar om progammet handlar om progammet handlar om progammet handlar om progammet handlar om progammet handlar om progammet handlar om progammet handlar om progammet handlar om progammet handlar om progammet handlar om progammet handlar om progammet handlar om </p>
          </div>
          <div class="episodes">
            <strong>Andra avsnitt</strong>
            <div class="episode">
              <div class="image-wrapper">
                <img width="180px" height="100px" src="https://d1fc69ngj1uuz1.cloudfront.net/4fc630da04bf725f69000053/fb1024_idol2016.png?1"/>
                <span>3:10</span>
              </div>
              <div class="info-wrapper">
                <strong>Avsnitt 1: title</strong>
                <p>Kort sammanfattning om avsnittet kort sammanfattning om avsnittet kort sammanfattning om avsnittet kort sammanfattning om avsnittet</p>
              </div>
            </div>
            <div class="episode">
              <div class="image-wrapper">
                <img width="180px" height="100px" src="https://d1fc69ngj1uuz1.cloudfront.net/4fc630da04bf725f69000053/fb1024_idol2016.png?1"/>
                <span>1:32:10</span>
              </div>
              <div class="info-wrapper">
                <strong>Avsnitt 2: title</strong>
                <p>Kort sammanfattning om avsnittet kort sammanfattning om avsnittet kort sammanfattning om avsnittet kort sammanfattning om avsnittet</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
	
</div>