<div class="container" id="container-apply">
  <div id="applicationSent">
    <h1>Thank you for applying, <br>you will hear from us shortly!<i class="fa fa-heart-o" aria-hidden="true"></i></h1>
  </div>
  <div id="apply-form">
    <h1>
      Apply to OL!
    </h1>
    <form [formGroup]="applyForm" (submit)="onSubmit($event)">
      <div>
        <label for="name">Name:</label>
        <span *ngIf="(name.dirty || name.touched) && name.invalid" class="invalidIn">
          Name required
        </span>
        <br>
        <input class="col-12 col-lg-6 col-xl-4" type="text" id="name" name="user_name"
               placeholder='Osq Ledaren' formControlName="name">
        
      </div>
      <br>
      <div>
        <label for="mail">E-mail:</label>
        <span *ngIf="(email.dirty || email.touched) && email.invalid" class="invalidIn">
          Valid e-mail required
        </span>
        <br>
        <input class="col-12 col-lg-6 col-xl-4" type="email" id="mail" name="user_mail"
               placeholder="osq@ledaren.com" formControlName="email">
        
      </div>
      <br>
      <!--
      <div>
        <label for="occupation">Position:</label>
        <br>
        <input type="checkbox" id="occupation" name="user_pref" value="Developer"
               placeholder="occupation" formControlName="occupation"> Developer
      </div>
      <br>
      -->
      <div>
        <label for="name">Write a few words about yourself and what position at OL you're interested in.
          <br> We are looking for developers, podcasters, writers, illustrators, photographers, content creators <br> 
          and people with great ideas! (You can write in either English or Swedish) </label> <br>
        <span *ngIf="(about.dirty || about.touched)" class="invalidIn">  <!--&& about.invalid-->
          Please write something about yourself
        </span>
       <textarea class="col-12" rows="8" type="text" id="about" name="about"
              formControlName="about" value=""
              placeholder="Hi! I'm a student at Kth and ..."></textarea>

      </div>
      <br><br>
        <button class="col-10 col-lg-6 col-xl-4 btn btn-primary sendBtn" id="sendBtn" type="submit">Submit</button> 
      <br><br>
    </form>
  </div>

</div>
