@import 'utility';

#container-apply {
  font-size: $font-size-lg;
  line-height: $line-height-lg;
  margin-top: $grid-gutter-width-base;
}

#about{
  display: block;
}

.preamble {
  margin-bottom: $grid-gutter-width-base;
}
.form-container {
  border: solid;
  border-radius: 5px;
  height: 600px;
  width: 400px;

  top: $header-height;
  justify-content: center;
  align-items: center;
}

.invalidIn{
  color: red;
}

.sendBtn {
  margin: auto;
  display: block;
  width: 40%;
}
