<div class="form-container">
  <div class="apply-header">
    <h1>
      Apply to OL!
    </h1>
  </div>
  <div>
    <form action="apply-form" method="post">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="user_name">
      </div>
      <div>
        <label for="mail">E-mail:</label>
        <input type="email" id="mail" name="user_mail">
      </div>
      <div>
        <p>
          I'm interested in:
        </p>
      </div>
      <div class="checkBoxes">
        <input type="checkbox" name="occupation" value="dev"> website <br>
        <input type="checkbox" name="occupation" value="writer"> writing articles <br>
        <input type="checkbox" name="occupation" value="photo"> taking photos <br>
        <input type="checkbox" name="occupation" value="illustrator"> drawing illustrations <br>
        <input type="checkbox" name="occupation" value="media"> producing media content <br>
      </div>
      <div>
        <label for="name">About you:</label> <br>
        <input type="text" id="about" name="about">
        <br>
      </div>

    </form>
    <div class="button">
      <button type="submit">Submit</button>
    </div>
  </div>
</div>


