@import "./src/utility";

.container {
  position: relative;
}

.menu-toggle {

  
    position: absolute;
    margin-left: 0;
    margin-right: $grid-gutter-width-base/2;
    right: 0;
    
    text-transform: uppercase;
    color: white !important;  
    cursor: pointer;

    // below is fix for vertical center alignment
    top: 50%;
    margin-top: -20px; // half of the element's own size
}

.navbar {
  padding: 0;
  margin: 0;
  

  a {
    color: white !important;
    text-transform: uppercase;
    line-height: 40px;
    padding: 0;
  }

  .navbar-container {
    background-color: $ol-orange;
    padding: $grid-gutter-width-base/4 0;

    border-radius: 0 !important;

    font-family: "Proxima Nova Semibold", sans-serif;

    .submenu-button {
      margin-left: auto;
    }

    .nav {
      display: inline-flex;
      vertical-align: middle;
      flex-direction: row;

      a {
        padding: 0;
      }

    }


    .navbar-brand {
      float: none;
      display: inline-flex;
      vertical-align: middle;
      padding: 0;

      img {
        max-width: $logo-max-width;
      }
    }
  }

  #main-nav-collapsible {
    div {
      background-color: $gray-dark !important;
    }
  }

  /* Animating links on hover */
  .hidden-sm-down .nav-item {
    position: relative;
    margin: 0 $grid-gutter-width-base/8;
  }
  .hidden-sm-down .nav-item:after, .menu-toggle:after {
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    position: absolute;
    bottom: 7px;
    left: 0;
    transition: transform 0.2s ease-in-out;
  }
  .hidden-sm-down .nav-item:hover:after, .menu-toggle:hover:after {
    width: 100%;
    transition: all 0.2s ease-in-out;
  }
}








