@import "./src/utility";

#site-header {
  position: relative;
  height: $header-height;
  z-index: 10;
}

.container {
  position: relative;
}
.container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.menu-toggle {

  
    position: absolute;
    margin-left: 0;
    margin-right: $grid-gutter-width-base/2;
    right: 0;
    
    text-transform: uppercase;
    color: white !important;  
    cursor: pointer;

    // fix for vertical center alignment
    top: 50%;
    margin-top: -20px; // half of the element's own size
}

.navbar {
  padding: 0;
  margin: 0;
  

  a {
    color: white !important;
    text-transform: uppercase;
    padding: 0;
  }

  .navbar-container {
    background-color: $ol-orange;
    padding: $grid-gutter-width-base/4 0;

    border-radius: 0 !important;

    font-family: "Proxima Nova Semibold", sans-serif;

    .submenu-button {
      margin-left: auto;
    }

    .nav {
      display: inline-flex;
      vertical-align: middle;
      flex-direction: row;

      a {
        padding: 0;
      }

    }


    .navbar-brand {
      float: none;
      display: inline-flex;
      vertical-align: middle;
      padding: 0;

      img {
        max-width: $logo-max-width;
      }
    }
  }

  #main-nav-collapsible > div {
    background-color: black !important;
  }

  /* Animating links on hover */
  .hidden-sm-down .nav-item {
    position: relative;
    margin: 0 $grid-gutter-width-base/8;
  }
  .hidden-sm-down .nav-item:after, .menu-toggle:after {
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: transform 0.2s ease-in-out;
  }
  .hidden-sm-down .nav-item:hover:after, .menu-toggle:hover:after {
    width: 100%;
    transition: all 0.2s ease-in-out;
  }
}

.nav-subcontainer {
  .container {
    padding-top: 0px;
    padding-bottom: 15px;
  }

  a {
      color: white !important;
      text-transform: uppercase;
      padding: 15px 0;
    }

  .navbar {
    padding: 0;
  }
}

#main-nav-collapsible {
  overflow: hidden;
  max-height: 0;
  transition: all 0.2s ease-in-out;
  transition: max-height .8s cubic-bezier(0, 1, 0, 1) -.1s;
  transition-delay: 0s;
}
#main-nav-collapsible.submenu-open  {
  max-height: 9999px;
  transition-timing-function: cubic-bezier(0.5, 0, 1, 0); 
  transition-delay: 0s;
}



