<header id="site-header">
	<nav class="navbar">
		<div class="navbar-container">
			<a class="navbar-brand" href="#">
				<img src="assets/img/temp_logo.png">
			</a>
			<ul class="nav navbar-nav hidden-sm-down">
				<li class="nav-item active">
					<a class="nav-link" href="#">Tidningen<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Podcast</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Play</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Annonsera</a>
				</li>
			</ul>
			<ul class="nav navbar submenu-button">
				<li class="nav-item pull-xs-right toggle-button">
					<a class="nav-link" data-toggle="collapse" data-target="#main-nav-collapsible" href="#">
						Mer
					</a>
				</li>
			</ul>
		</div>
		<div class="collapse" id="main-nav-collapsible">
			<div class="bg-inverse p-a-1">
				<ul class="nav navbar hidden-md-up">
					<li class="nav-item active">
						<a class="nav-link" href="#">Tidningen<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Podcast</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Play</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Annonsera</a>
					</li>
				</ul>
				<ul class="nav navbar">
					<li class="nav-item">
						<a class="nav-link" href="#">Om oss</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>