<nav id="top-nav" class="top-nav navbar hidden-xs-down">
	<ul class="nav navbar-nav">
		<li class="nav-item active"><a class="nav-link" href="#">Om oss</a></li>
		<li class="nav-item"><a class="nav-link" href="#">Annonsering</a></li>
		<li class="nav-item"><a class="nav-link" href="#">Fysiska nummer</a></li>
		<li class="nav-item"><a class="nav-link" href="#">Kontakt</a></li>
	</ul>
</nav>

<nav id="top-nav" class="top-nav navbar hidden-xs-down">
	<ul class="nav navbar-nav">
		<li *ngFor="let t of mainMenu;" class="nav-item"></li>
	</ul>
</nav>

<nav id="main-nav" class="main-nav navbar">
	<a class="navbar-brand" href="#">Navbar</a>
	<button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#main-nav-collapsible"
					aria-controls="main-nav-collapsible" aria-expanded="false" aria-label="Toggle navigation">
		&#9776;
	</button>
	<div class="collapse navbar-toggleable-xs" id="main-nav-collapsible">
		<ul class="nav navbar-nav">
			<li class="nav-item active"><a class="nav-link" href="#">Nytt <span class="sr-only">(current)</span></a></li>
			<li class="nav-item"><a class="nav-link" href="#">Kategori 1</a></li>
			<li class="nav-item"><a class="nav-link" href="#">Kategori 2</a></li>
			<li class="nav-item"><a class="nav-link" href="#">Podcasts</a></li>
			<li class="nav-item"><a class="nav-link" href="#">Play</a></li>
		</ul>
	</div>
</nav>
