<footer id="site-footer" class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-6">
				<div class="ol">
					<img class="footer-logo" src="assets/img/OL-temp.png">
					<div id="line"></div>
					<p>Osqledaren</p>
				</div>
				<div class="icons">
					<img src="assets/img/tumblr-icon.png">
					<img src="assets/img/facebook-icon.png">
					<img src="assets/img/twitter-icon.png">
					<img src="assets/img/pinterest-icon.png">
				</div>
			</div>
			<div class="col-sm-6 col-md-2">
				<div>
					<p>Ansvarig utgivare: <br>
						Ariel Blomqvist</p>
					<p>osqledaren at ths.kth.se</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-2">
				<ul id="menu" style="list-style-type:none">
					<li><a href="">Arkiv</a></li>
					<li><a href="">Tidningen</a></li>
					<li><a href="">Podcast</a></li>
					<li><a href="">Play</a></li>
					<li><a href="">Annonsera</a></li>
				</ul>
			</div>
			<div class="col-sm-6 col-md-2">
				<ul id="contact" style="list-style-type:none">
					<li><a href="">Om Osqledaren</a></li>
					<li><a href="">Kontakt</a></li>
					<li><a href="">Sök redaktionen</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>