<footer id="site-footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-xl-6">
                <div class="row">
                    <div class="ol col">
                        <img class="footer-logo float-left" src="assets/img/OL-temp.png">
                        <div class="social-media float-left">
                            <p>Vi finns även på dessa kanaler</p>
                            <span class="channel"><i class="fa fa-3x fa-facebook-square" aria-hidden="true"></i></span>
                            <span class="channel"><i class="fa fa-3x fa-instagram" aria-hidden="true"></i></span>
                            <span class="channel"><i class="fa fa-3x fa-git" aria-hidden="true"></i></span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xl-6">
                <aside class="list">
                    <ul class="no-bullets">
                        <li>Ansvarig utgivare:<br/>Ariel Blomqvist</li>
                        <li>osqledaren at ths.kth.se</li>
                    </ul>
                </aside>
                <nav class="list primary-menu">
                    <ul class="no-bullets">
                        <li><a routerLink="/">Arkiv</a></li>
                        <li><a routerLink="/tidningen">Tidningen</a></li>
                        <li><a routerLink="/">Podcast</a></li>
                        <li><a routerLink="/">Play</a></li>
                    </ul>
                </nav>
                <nav class="list secondary-menu">
                    <ul class="no-bullets">
                        <li><a routerLink="/om-oss">Om Osqledaren</a></li>
                        <li><a routerLink="">Sök redaktionen</a></li>
                        <li><a routerLink="">Annonsera</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-lg-7 col-xl-6">
                <span>Producerad med kärlek <i class="fa fa-heart-o" aria-hidden="true"></i> på KTH </span>
            </div>
            <div class="col-sm-12 col-lg-5 col-xl-6">
                <span>&copy; 2008 - 2017 Osqledaren.</span>
            </div>

        </div>
    </div>
</footer>