@import './src/utility';

.loader-overlay {
  z-index: 1001;
  transition: opacity 0.3s ease-in-out, background 0.3s ease-in-out;

  &.initialized {
    z-index: 999;
    background: $body-bg;

    .bounce {
      background: black;
    }
  }

  &.hidden {
    z-index: -1;
  }

}

.loaded {
  opacity: 0;
}