@import "utility";

li {
  text-align: right;
}

.inner {
  margin: $grid-gutter-width-base/2 auto;
}

.series-list {

  a {
    cursor: pointer;
  }

  background: $gray-lighter;
  font-weight: bold;

  .inner {
    margin-top: calc(#{$grid-gutter-width-base/2} + #{$font-size-h1*$line-height-lg});
  }
}

