@import "./src/utility";

//Style the byline box above
.byline {

  @include clearfix;

  margin: $grid-gutter-width-base/2 0;
  padding: $grid-gutter-width-base/2 $grid-gutter-width-base* 1/4 0;
  background: $gray-lightest;
  color: $brand-primary;

  dl {
    float: left;
    margin: 0 $grid-gutter-width-base/4 $grid-gutter-width-base/2;
  }

  dd, address {
    margin-bottom: 0;
  }

}