@import "./src/utility";

//Style the byline box above
.byline {

  @include clearfix;

  margin: $grid-gutter-width-base/2 0;
  padding: $grid-gutter-width-base/2;
  background: $brand-primary;
  color: white;
  text-align: center;

  dl,dt,dd,address {
    display: inline;
    padding:0;
    margin:0;
  }

  dl {
    display: block;
  }

}