
<div class="container" id="container-podcast">
  
  <div id="header">
    <h1 class="">{{info.title}}</h1>
    <div class="row buttons">
      <button class="col-5 col-md-3 col-lg-2 active" id="campusBtn" (click)="switchBtn('campusBtn', 'oldBtn')">Qampuspodden</button>
      <button class="col-5 col-md-3 col-lg-2" id="oldBtn" (click)="switchBtn('oldBtn', 'campusBtn')">Äldre poddar</button>
  </div>
    <div class="row description">
      <div class="col-12 col-lg-10">{{info.description}}</div>
    </div>
    
  </div>
  
  
  <div *ngFor="let pod of podcast" id="podcast">
    <div class="row">
        <div class="col-12 col-md-3 text-center" *ngIf="pod.renditions.full">
            <img id="cover" class="col-12" src="{{pod.renditions.full.href}}" alt="">
        </div>
      <div class="col-12 col-md-7 info">
        <h3 [innerHTML]="pod.headline"></h3>
        {{pod.versioncreated.substring(0, 10)}}
        <div [innerHTML]="pod.body_html" ></div>
      </div>
      
    
  </div>
  
    <audio class="wp-audio-shortcode" id="audio-18583-1" preload="none" 
          style="width: 100%;" controls>
        <source type="audio/wav" src="{{pod.audio_file}}">
        Your browser does not support the audio element.
    </audio>
  </div>
</div>

