@import 'utility';
:host {
    overflow: hidden;
  }

  #container-podcast {
    min-height: 550px;
    font-size: $font-size-lg;
    line-height: $line-height-lg;
    margin-top: $grid-gutter-width-base;
  }

  #cover {
    margin: 14px;
    max-width: 250px;
  }

  #podcast {
    margin-block-end: 40px;
    border: 2px solid $ol-blue;
    padding: 4px;
    background: white;
    font-size: $font-size-base;
    border-radius: 8px;

    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
     -ms-animation: fadein 1s; /* Internet Explorer */
      -o-animation: fadein 1s; /* Opera < 12.1 */
         animation: fadein 1s
    
  }

  .buttons{
    display: block;
    font-size: $font-size-base;
    border-radius: 4px;
    border: 2px solid $ol-blue;
  }

  .active{
    color: black;
    pointer-events: none;
    
  }

  .link{
    margin-block-end: 5px;
    height: 35px;
  }

  .description{
    margin-bottom: 20px;
  }

  .info h3{
    margin-top: 9px;
  }

  button{
    color: grey;
    background: transparent;
  }
  
  button:focus {
    outline-color: transparent;
    outline-style: none;
    box-shadow: none;
    -webkit-box-shadow: none !important;
    
  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
  
