
<div class="container" id="container-podcast">
  <div class="row navbar">
    <div class="col-0 col-md-7 col-lg-8 col-xl-9"></div>
    <div class="col-12 col-md-5 col-lg-4 col-xl-3 buttons">
      <button class="active btn col-6" id="campusBtn" (click)="switchBtn('campusBtn', 'oldBtn')">Qampuspodden</button>
      <button class="btn col-5" id="oldBtn" (click)="switchBtn('oldBtn', 'campusBtn')">Äldre poddar</button>
    </div>
  </div>
  <div class="row" id="header">
    <h1 class="col-12">{{info.title}}</h1>
    <div class="col-12 col-lg-10 description">{{info.description}}</div>
    
  </div>
    
  <a  class="btn" href="{{info.appleLink}}">
    <img class="link" src="../assets/svg/apple-podcast.svg" alt="Listen on Apple Podcast">
  </a>

  <div *ngFor="let pod of podcast" id="podcast">
    <div class="row">
      <div class="col-12 col-sm-5 col-md-3 text-center" *ngIf="pod.renditions.full">
          <img id="cover" class="col-12" src="{{pod.renditions.full.href}}" alt="">
      </div>
      <div class="col-12 col-sm-7 col-md-8 episodeInfo">
        <h3 [innerHTML]="pod.headline"></h3>
        <div class="episodeDescription">
          {{pod.versioncreated.substring(0, 10)}}
          <div [innerHTML]="pod.body_html"></div>
        </div>
      </div>
    </div>
  
    <audio class="wp-audio-shortcode" id="audio-18583-1" preload="none" 
          style="width: 100%;" controls>
        <source type="audio/wav" src="{{pod.audio_file}}">
        Your browser does not support the audio element.
    </audio>
  </div>
</div>

