@import "./src/utility";

.web-ad {
	overflow: hidden;
	line-height: 1.1;
	font-size: $font-size-h6;
	margin-top: 15px;

	i {
		font-size: $font-size-h6 !important;
	}

	>i {
		color: #666666 !important;
		font-size: $font-size-h6 !important;
	}

	b {
		color: black;
		display: block;
	}

	>div {
		width: 78%;
		margin: auto;
		overflow: inherit;
		border-bottom: 1px solid white;
		padding: 15px 0 10px 15px;

		i {
			color: #333333 !important;
		}

		.figure {
			display: inline-block;
			vertical-align: top;
		}

		.description {
			display: inline-block;
			width: 200px;
			margin-top: 48px;

			b {
				display:block;
				font-size: 1rem !important;
			}

			div {
				margin-bottom: 66px;
			}
		}

		.note {
			display: inline-block;
			width: 200px;
			text-align: center;
			color: #e26857;
			font-size: $font-size-h5;
			-ms-transform: rotate(15deg);
    		-webkit-transform: rotate(15deg);
    		transform: rotate(15deg);
    		margin-left: 55px;
    		margin-top: 113px;
    		position: absolute;

    		.note-arrow {
    			margin-left: -280px;
    			-ms-transform: rotate(10deg);
    			-webkit-transform: rotate(10deg);
    			transform: rotate(10deg);
    		}
		}

		.info {
			font-style: italic;
			margin-top: 20px;
		}

		.lineUp {
			top: -10px;
    		position: relative;
    		font-style: regular !important;
    		color: $link-color;
		}
	}
}

/* For mobile phones: */
@include media-breakpoint-down(sm) {
	.web-ad {
		i {
			font-size: $font-size-h5 !important;
		}

		>div {
			width: 100%;
			padding: 15px 0 10px 0px;

			.description {
				b {
					font-size: $font-size-h5 !important;
				}

				div {
					margin-bottom: 35px;
				}
			}

			.note {
				font-size: $font-size-base !important;
				margin-left: 20px;
				margin-top: 210px;

				p{font-size: $font-size-h5 !important;}
			}

			.info{
				b{font-size: $font-size-h5 !important; margin-left: 10px;}
				p{font-size: $font-size-h6 !important; margin-left: 10px;}
			}
		}
	}
}

/* For tablets: */
@include media-breakpoint-only(md) {
	.web-ad {
		i {
			font-size: $font-size-h6 !important;
		}

		>div {
			width: 100%;
			padding: 15px 0 10px 0px;

			.description {
				width: 250px;
				b {
					font-size: $font-size-h6 !important;
				}

				div {
					margin-bottom: 25px;
				}
			}

			.note {
				font-size: $font-size-base !important;
				margin-left: -25px;
				margin-top: 200px;

				p{font-size: $font-size-h6 !important;}
			}

			.info{
				b, p{font-size: $font-size-h6 !important; margin-left: 10px;}
			}

			.figure object{
				width: 350px !important;
				height: 444px !important;
			}
		}
	}
}