@import "./src/utility";

@import "advertisement-newspaper";
@import "advertisement-web";
@import "advertisement-schedule";
@import "advertisement-covers";

.container {
	padding: $grid-gutter-width-base/2;
}

#container-advertisement {
	font-size: $font-size-h5;
	
	h1, h3{
		color: black;
	}

	.preamble {
		font-size: $font-size-lg;
	}

	.contact-info{
		margin-top: 30px;

		span {
			color: $link-color;
			&:hover {color: $ol-orange;}
			&:after {content:""; display:block;}
		}
	}

	i {
		font-size: $font-size-h2;
		color: $gray;
		margin-right: 10px;
    	vertical-align: middle;
    	min-width: 30px;
	}

	p { margin-bottom: 40px; }

	.content {
		//background-color: white;
		//padding: $grid-gutter-width-base/2;
		//margin:$grid-gutter-width-base 0 0;

		>h1{
			font-size: 2.5rem;
		}
	}

}

/* For mobile phones: */
@include media-breakpoint-down(sm) {
	#container-advertisement {
		font-size: $font-size-h4;

		h3{
			font-size: $font-size-h5;
		}

		.preamble {
			font-weight: bold;
			font-size: $font-size-base;
		}

		.content {
			padding: 10px 20px;
			>h1{
				font-size: $font-size-h3;
			}
		}

		p{
			font-size: $font-size-h3;
			i{
				font-size: $font-size-h3;
			}
		}
	}
}

/* For tablets: */
@include media-breakpoint-only(md) {
	#container-advertisement {
		font-size: $font-size-h4;

		h3{
			font-size: $font-size-h5;
		}

		.preamble {
			font-size: $font-size-base;
		}

		.content {

			>h1{
				font-size: $font-size-h3;
			}
		}

		p{
			font-size: $font-size-h3;
			i{
				font-size: $font-size-h3;
			}
		}
	}
}