<div class="container" id="container-advertisement">
    <div class="row">
        <div class="col-12 content">
            <h1>Annonsera</h1>
            <p class="preamble">
                Med sin upplaga på ca 10 000 ex är Osqledaren Sveriges största
                tekniska studenttidning. Tidningen är helt annonsfinansierad och
                skickas kostnadsfritt hem till alla kårmedlemmar vid Kungliga
                tekniska högskolan (KTH) i Stockholm fyra gånger per läsår.
                Osqledaren är det bästa sättet att nå studenter på KTH. Osqledaren drivs ideellt av studenter under ledning av en heltidsarvoderad chefredaktör (tillika ansvarig utgivare). Tillsammans
                skriver vi om det som händer på KTH, studentkåren, nöje, teknik,
                arbetsmarknad och annat som intresserar studenterna. Ambitionerna
                är höga både vad gäller det redaktionella innehållet såväl som
                produktionen. Osqledaren är ett utmärkt annonseringsalternativ för er som vill nå KTH-studenter eftersom vi kommunicerar med framtidens KTHingenjörer på ett naturligt och välbekant sätt, regelbundet och i stor volym.
            </p>

            <h3>Utgivningsplan och prislista 2016/2017</h3>
            <hr/>
            <div class="newspaper-ad">
                <h3>ANNONS</h3>
                <i>OSQLEDAREN 15/16</i>
                <div>
                    <div class="figure1">
                        <div class="figure">
                            <div class="box1"></div>
                        </div>
                        <div class="description">
                            <b>BAKSIDA</b>
                            <i>Mått: 200 x 225 mm <br/><br/>29 900 kr</i>
                        </div>
                    </div>
                    <div class="figure2">
                        <div class="figure">
                            <div class="box1"></div>
                            <div class="box2"></div>
                        </div>
                        <div class="description">
                            <b>HALVSIDA LIGGANDE</b>
                            <i>Mått: 200 x 120 mm</i>
                            <br/><br/>
                            <b>HALVSIDA STÅENDE</b>
                            <i>Mått: 95 x 250 mm <br/><br/>13 900 kr</i>
                        </div>
                    </div>
                    <div class="figure3">
                        <div class="figure"></div>
                        <div class="description">
                            <b>HELSIDA FÖRSTA UPPSLAGET</b>
                            <i>Mått: 200 x 250 mm <br/><br/>24 900 kr</i>
                        </div>
                    </div>
                    <div class="figure4">
                        <div class="figure">
                            <div class="box1"></div>
                            <div class="box2"></div>
                        </div>
                        <div class="description">
                            <b>KVARTSSIDA STÅENDE</b>
                            <i>Mått: 95 x 120 mm <br/><br/>8 900 kr</i>
                        </div>
                    </div>
                    <div class="figure5">
                        <div class="figure"></div>
                        <div class="description">
                            <b>HELSIDA INLAGA</b>
                            <i>Mått: 200 x 250 mm <br/><br/>21 900 kr</i>
                        </div>
                    </div>
                    <div class="figure6">
                        <b>ALLMÄNT</b>
                        <i>
                            <ul>
                                <li>Annonser trycks i fyrfärg</li>
                                <li>Bilder skall vara i upplösning 300 dpi</li>
                                <li>3 mm utfall på alla annonser</li>
                                <li>
                                    Papper:  
                                    <span>
                                        Inlaga: 90g Arctic Matt<br/>
                                        Omslag: 250g Arctic Matt
                                    </span>
                                </li>
                            </ul>
                        </i>
                        <div>
                            <div class="toner-icon">
                                <object type="image/svg+xml" width="36" height="36" data="../../assets/svg/toner-icon.svg" ></object>
                            </div>
                            <i> 300 dpi</i>      
                            <div class="margin-icon">
                                <object type="image/svg+xml" width="70" height="36" data="../../assets/svg/margin-icon.svg" ></object>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="web-ad">
                <h3>WEBANNONS</h3>
                <i>www.osqledaren.se</i>
                <div>
                    <div class="figure">
                        <object type="image/svg+xml" width="450" height="570" data="../../assets/svg/web-ad-illustration.svg" ></object>                 
                    </div>
                    <div class="description">
                        <div class="t">
                            <b>TOPPBANNER<span class="lineUp">[1]</span></b>
                            <i>Mått: 1170 x 144 mm <br/><br/>2 V: 8 900 kr<br/>4 V: 7 490 kr</i>
                        </div>
                        <div class="h" *ngIf="false">
                            <b>HÖGERSPALT (EJ MOBIL)</b>
                            <i>Mått: 340 x 220 mm <br/><br/>2 V: 2 490 kr<br/>4 V: 3 990 kr</i>
                        </div>
                        <div class="n" *ngIf="false">
                            <b>NYHETSFLÖDE</b>
                            <i>Mellan nyhet två och tre<br/>Mått: 770 x 168 mm <br/><br/>2 V: 3 490 kr<br/>4 V: 5 990 kr</i>
                        </div>
                    </div>

                    <div class="note" *ngIf="false">
                        <object class="note-arrow" type="image/svg+xml" width="150" height="50" data="../../assets/svg/hogerspaltNote-arrow.svg" ></object>
                        <p>
                            Osqledarens nya fantastiska webbplats är byggd på responsiv design, och i den mobila versionen göms högerspalten - gå in på osqledaren.se via din smartphone och datorn, och upplev skillnaden!
                        </p>
                    </div>

                    <div class="info">
                        <b>ALLMÄNT</b>
                        <i>
                            <ul>
                                <li>Bildannonser: JPEG, PNG eller GIF, levereras med måladress och annonstitel</li>
                                <li>Flashannonser: swf-fil, skickar själv användaren vidare vid klick. Max 2MB.</li>
                                <li>Osqledaren utvärderar inte antal klick på publicerade annonser.</li>
                            </ul>
                        </i>
                        <p><span class="lineUp">[1]</span>För toppbanner, skicka gärna även med samma annons i storlek 770*168 pixlar, så att det ska se bra ut i mobilversionen av sidan.</p>
                    </div>
                </div>
            </div>

            <div class="ad-schedule">
                <h3>UTGIVNINGSPLAN</h3>
                <i>Osqledaren 16/17</i>
                <div>   
                    <div class="info">
                        <b>UTGÅVOR</b>
                        <div>
                            <b>NR 1</b>
                            <p>MANUSSTOPP: 14/10 <br/>UTGIVNING: V. 45</p>
                        </div>
                        <div>
                            <b>NR 2</b>
                            <p>MANUSSTOPP: 5/1 <br/>UTGIVNING: V. 5</p>
                        </div>
                        <div>
                            <b>NR 3</b>
                            <p>MANUSSTOPP: 3/3 <br/>UTGIVNING: V. 13</p>
                        </div>
                        <div>
                            <b>NR 4</b>
                            <p>MANUSSTOPP: 7/4 <br/>UTGIVNING: V. 18</p>
                        </div>
                    </div>
                    <div class="calendar">
                        <object type="image/svg+xml" width="400" height="535" data="../../assets/svg/ad-schedule-illustration.svg" ></object>
                    </div>
                </div>     
            </div>

            <div class="contact-info">
                <h3>Vill ert företag annonsera i Osqledaren?</h3>
                <div>
                    Kontakta <b>Erik Tingström</b> på <br/>
                    <div><i class="fa fa-envelope-o" aria-hidden="true"></i><span>{{erik_tingstrom_email}}</span></div>
                    <div><i class="fa fa-phone" aria-hidden="true"></i><span>{{erik_tingstrom_mobile}}</span></div>
                </div>
                <br/>
                <h3>Har du frågor till Osqledaren?</h3>
                <div>
                    Kontakta <b>Osqledaren</b> på <br/>
                    <div><i class="fa fa-envelope-o" aria-hidden="true"></i><span>{{osqledaren_email}}</span></div>
                    <div><i class="fa fa-phone" aria-hidden="true"></i><span>{{osqledaren_mobile}}</span></div>
                    <div><i class="fa fa-mobile" aria-hidden="true"></i><span>{{osqledaren_telephone}}</span></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="covers">
    <div class="wrapper">
    	<img *ngFor="let url of covers" src="{{url}}" />
    </div>
</div>