@import 'utility';

#ad-top-banner-container {
  width: 100%;
  height: auto;
  margin-top: $header-height;
  margin-left: auto;
  margin-right: auto;

  img {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: block;
  }
}

