@import "./src/utility";

.archive-heading {
	text-align: center;
	margin: $grid-gutter-width-base/2 0;

	span {
		color:$link-color;
	}
}

.has-more-posts{

	font-weight: bold;

	&.hidden {
		display: none;
	}

	text-align: center;

	.btn {
		cursor: pointer;
		color:white;
		font-weight: bold;
		margin: $grid-gutter-width-base auto;
	}

	p {
		display: none;
		margin: $grid-gutter-width-base auto;
	}

	&.all-loaded{
		.btn {
			display: none;
		}

		p {
			display: block;
		}
	}
}

.article-container {
	width: 100%;
	position: relative;
	overflow-x: hidden;
}

.article-grid-item-content {
	position: relative;
	width: 100%;
	padding-top: 66.66%; /* 3:2 Aspect Ratio */

	img {
		transition: transform 0.2s ease-in-out;
	}

	img,
	iframe {
		width: 100%;

	}
	iframe {
		height: 100%;
		display: block;
	}

	.article-grid-item-content.top {
		background: lightblue;
	}

	.article-grid-item-header {
		background: $gray-lightest;
	}

	.article-grid-item-header,
	.article-grid-item-content-inner {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		overflow: hidden;
	}

	.article-grid-item-content-inner {
		padding: $grid-gutter-width-base/2;
	}

	h3.article-title {
		font-weight: bold;
		font-size: 1rem;
	}

	time.article-date {
		position: absolute;
		bottom: $grid-gutter-width-base/2;
		left: $grid-gutter-width-base/2;
	}
}

.article-grid-item, .article-grid-sizer {
	background: #fff;
	width: 33.33%;
	position: relative;

	&:hover {
		img {
			transform: scale(1.05, 1.05);
		}
	}

	@include clearfix;

	@include media-breakpoint-down(md) {
		width: 50%;
	}

	@include media-breakpoint-down(sm) {
		width: 100%;
		margin-bottom: $grid-gutter-width-base/2;
	}

	&.brick-large {
		width: 66.66%;

		@include media-breakpoint-down(sm) {
			width: 100%;
		}
	}

	&.brick-medium {

		@include media-breakpoint-up(md) {

			width: 100%;

			.article-grid-item-content {
				padding-top: #{(100 + 33.33)*0.3333%};
				float: left;
			}

			.article-grid-item-content.top {
				width: 66.66%;
			}
			.article-grid-item-content.bottom {
				width: 33.33%;
			}
		}
	}
}

