<div class="container">
    <div class="row">
        <div class="col-md-6" id="about">
            <h1>Om Osqledaren</h1>
            <p>{{aboutTheEditor}}</p>
            <p>{{feedbackText}}</p>
            <p>Kontakta då Osqledarens redaktion här:</p>
        </div>
        <div class="col-md-6" id="image">
            <img src="/assets/img/redaktions_selfie.jpg" alt="redaktionen">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="contact">
            <h2>Kontakta Osqledaren</h2>
            <p><b>Chefredaktör och ansvarig utgivare {{editorialYear}}:</b> {{leadEditorName}}<br>
                <b>Telefon:</b> {{aboutTelephone}}<br>
                <b>Mail:</b> {{aboutEmail}}<br>
                <b>Besöksadress:</b> {{visitorsAddress}}<br>
                <b>Postadress:</b> {{postAddress}}</p>

            <p><b>Annonsera?</b><br>
                Vill du annonsera i Osqledaren eller på osqledaren.se? Gå till sidan <a routerLink="/annonsera">Annonsera</a> för mer
                information.</p>
        </div>
    </div>
</div>
