@import './src/utility';

div {
  clear: both;
}

h3, .h3 {
  line-height: 40px;
  color:white;
  margin: 0 $grid-gutter-width-base/2 0 0;
  float:left;
}

select {

  margin:0;
  padding:0;
  height: auto;
  line-height: 40px;
  border-radius: 0;
  background: transparent;
  border:0;
  color: white;
  float: left;

  option {
  }
}


ul {

  margin:0;
  padding: 0;
  list-style: none;

  li {
    float: left;
    width: 25%;
    line-height: 40px;

    a {
      color:white;
    }

  }
}

