@import './src/utility';

h2 {
	padding: $grid-gutter-width-base/2 0px;
	margin-bottom: 0;
}

.print-grid-container {

	.print-grid-item {
		width: 20%;
		position: relative;
	}

	.print-grid-item-img {
		width: 100%;
		padding-top: 125%;
		background-size: cover;
	}
}