//Style the article heading box
.article-heading-box {
	color: white;
	background-color: $ol-orange;
	padding:$grid-gutter-width-base/2;
	margin: -$grid-gutter-width-base auto $grid-gutter-width-base/2;
	z-index: 1;
	position: relative;
	text-align: center;
	max-width: $container-narrow*2/3;

	@include media-breakpoint-down(md) {
		max-width: 100%;
		margin-top:0;
	}
	

	//Style the list of the social media symbols
	ul.social-medias {
		text-align:center;
		padding-left: 0;
		list-style-type:none;

		li {
			display:inline;
			list-style-type: none;
			margin:0 1em;

			a {
				display:inline-block;
				color: white;
				font-size: 2rem;
				padding: 0;
				line-height: 0;
			}
		}
	}
}
