//Style the byline box above
.byline_above {
	margin: inherit;

	.author_text, .author_foto{
		@include displayAuthor($imgWidth:70px, $border:1px, $space:5px);
	}
}

//Style the byline box below
.byline_below {
	margin: inherit;
	
	.author_text, .author_foto{
		@include displayAuthor($imgWidth:50px, $border:0px, $space:2px);
	}
}

/* For mobile phones: */
@media only screen and (max-width: 600px) {
	.byline_above {
		img {
			width: 53px !important;
			height: 53px !important;
		}
	}

	.byline_below {
		img {
			width: 45px !important;
			height: 45px !important;
		}
	}
}

/* For tablets: */
@media only screen and (min-width: 600px) and (max-width: 768px) {
	.byline_above {
		img {
			width: 60px !important;
			height: 60px !important;
		}
	}

	.byline_below {
		img {
			width: 50px !important;
			height: 50px !important;
		}
	}
}