<div class="container" id="single-article">
    <article [id]="article?.headline">
        <div class="article-image">
            <app-article-image [renditions]="article?.renditions"></app-article-image>
        </div>

        <!-- Article heading box -->
        <div class="article-heading-box">
            <h1 [innerHTML]="article?.headline"></h1>
            <ul class="social-medias" *ngIf="false">
                <li>
                    <a href="#" data-name="Tumblr"><i class="fa fa-tumblr" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="#" data-name="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="#" data-name="Twitter2"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="#" data-name="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                </li>
            </ul>
            <span class="date">
                    <time [innerText]="'Publicerad: ' + (article?.versioncreated | date: 'y-MM-dd')"></time>
                </span>

             

        </div>

        <!-- Byline above-->
        <app-byline *ngIf="false"></app-byline>

        <div class="article-grid-item-text" [innerHTML]="article?.body_html"></div>

        <div class="article-rm-button" *ngIf="false">Läs mer i Osqledaren #2 2015 <i class="fa fa-arrow-right"
                                                                                     aria-hidden="true"></i></div>

        <!-- Byline below-->
        <app-byline *ngIf="false"></app-byline>

        <div class="share-buttons" *ngIf="false">
            <div class="button-facebook"><i class="fa fa-facebook" aria-hidden="true"></i> DELA/KOMMENTERA</div>
            <div class="button-twitter"><i class="fa fa-twitter" aria-hidden="true"></i></div>
            <div class="button-pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></div>
        </div>

        <div class="related-posts" *ngIf="showRelated">
            <h3>Läs också</h3>
            <div *ngFor="let rel_post of relatedArticles">
                <div class="row">
                    <div class="col-sm-2 related-post-img">
                        <a [title]="rel_post?.headline" routerLink="/artikel/{{rel_post?.slug}}"><app-article-image-thumbnail [renditions]="rel_post.renditions"></app-article-image-thumbnail></a>
                    </div>
                    <div class="col-sm-10 related-post-title">
                        <div><a [title]="rel_post?.headline" routerLink="/artikel/{{rel_post?.slug}}"><span [innerHTML]="rel_post?.headline"></span></a></div>
                    </div>
                </div>
            </div>
        </div>
        
    </article>
</div>
<div class="container" id="disqus">
    <disqus [shortname]="'osqledaren'" [identifier]="article?.id"></disqus>
</div>