@import "./src/utility";
@import "byline";
@import "article-share-buttons";
@import "article-heading-box";

//Style the article main container

:host /deep/ {
	margin: auto;
	font-size: $font-size-lg;
	line-height: $line-height-lg;
	max-width: $container-narrow;

	// Make sure no heading is clipped or offset by block-quote
	h1, h2, h3, h4, h5, h6 {
		clear: both;
	}

	ol, ul {
		@include clearfix();
		overflow: hidden;
	}

	//Set the size of and display the article image
	.article-image {
		overflow: hidden;

		img {
			width: 100%;
			position: relative;
		}
	}

	//Style the article content
	.content{
		margin: auto;

		.date {
			display: block;
			padding: 10px 0px;
		}

		.article-rm-button {
			text-align: center;
			background-color: $ol-orange;
			color: white;
			font-style:italic;
			padding: 20px 0;
			margin-top: 20px;
			font-weight: bold;

			i {
				display: block;
				margin: auto;
				font-size: $font-size-h2;
			}
		}

		hr {
			margin: 30px auto;
			//border-top: 1px solid black;
		}

	}
}

//Style the quote box and position it
:host /deep/ blockquote {
	position: relative;
	width: 40%;
	float: left;
	text-align: right;
	padding: 0 $grid-gutter-width-base/2 0 0;
	margin: 0 -12.5% 0 0;
	left: -12.5%;
	font-weight: bold;

	i {
		display: block;
		font-size: $font-size-h1;
		line-height: ($font-size-lg*2 * $line-height-lg);
		color: $ol-orange;
	}

	@include media-breakpoint-down(md) {
		left:0;
		margin: 0;
	}

	@include media-breakpoint-down(sm) {
		text-align: left;
		float:none;
		width: auto;
	}

}