@import "./src/utility";

.single-article-container {
  background:white;
  font-size: $font-size-lg;
  padding:$grid-gutter-width-base/2;
}

.article-heading {
  margin: 0 0 $grid-gutter-width-base;
}