@import 'utility';
@import "article-share-buttons";
@import "article-heading-box";

//Style the article main container

:host {
  margin: $grid-gutter-width-base 0;
  width: 100%;
  font-size: $font-size-lg;
  line-height: $line-height-lg;
}

:host /deep/ {

  // Make sure no heading is clipped or offset by block-quote
  h1, h2, h3, h4, h5, h6 {
    clear: both;
  }

  ol, ul {
    clear: both;
    overflow: hidden;
    padding: $grid-gutter-width-base/2 $grid-gutter-width-base/2 $grid-gutter-width-base/2 $grid-gutter-width-base;
    background: $ol-teal;
    color: white;
    margin: 0 auto $font-size-lg;
    font-weight: bold;

    @include media-breakpoint-down(md) {
      max-width: 100%;
    }

  }

  .container {
    max-width: $container-narrow;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  //Set the size of and display the article image
  .article-image {
    overflow: hidden;

    img {
      width: 100%;
      position: relative;
    }
  }

  .article-rm-button {
    text-align: center;
    background-color: $ol-orange;
    color: white;
    font-style: italic;
    padding: 20px 0;
    margin-top: 20px;
    font-weight: bold;

    i {
      display: block;
      margin: auto;
      font-size: $font-size-h2;
    }
  }

  .article-grid-item-text {

    h1, h2, h3, h4, h5, h6 {
      font-size: $font-size-h3;
      margin-bottom: $font-size-lg;
    }

    p {
      margin-bottom: $font-size-lg
    }

    img {
      width: 100%;
      height: auto;
      margin-bottom: $font-size-lg;
    }

    img + br {
      display: none;
    }
  }

  blockquote {
    position: relative;
    padding: $grid-gutter-width-base;
    font-family: $font-family-serif;
    font-style: italic;

    i {
      display: block;
      font-size: $font-size-h1;
      line-height: ($font-size-lg*2 * $line-height-lg);
      color: $ol-orange;
    }

    @include media-breakpoint-down(sm) {
      padding: $grid-gutter-width-base/2;
    }
  }

}

.related-posts-wrapper {
  padding-top: $grid-gutter-width-base;
  padding-bottom: $grid-gutter-width-base;
  margin-bottom: $grid-gutter-width-base/2;
  background: $gray-lightest;
  width: 100%;

  @include media-breakpoint-down(md) {
    padding-left:0;
    padding-right:0;
  }
}

.related-post {
  margin: $grid-gutter-width-base/8 0;
  position: relative;
  max-width: $container-narrow*3/4;
}

.related-post-title {
  display: table;
  position: absolute;
  left:0;
  top:0;
  height: 120px;
  width: 100%;
  padding: $grid-gutter-width-base/4 $grid-gutter-width-base/4 $grid-gutter-width-base/4 $grid-gutter-width-base/4 + 120px;
  div {
    display: table-cell;
    vertical-align: middle;
  }
  h3 {
    font-size: $font-size-lg;
    line-height: $line-height-lg;
  }
}








