<div id="programContainer" class="container">
	<div>
		<div *ngIf="videoMetaData" class="col-xs-12 playerContainer">
			<app-video-player #playerRef [videoMetaData]="videoMetaData" [context]="'program'" [episodes]="episodes"></app-video-player>
		</div>
	</div>
	<div  class="row">
		<div class="col-xs-6 box1">
			<h3>Fler avsnitt ur serien <span *ngIf="videoMetaData">{{videoMetaData.series.name}}</span></h3>
			<div class="toggleEpisodeListArrow"><p>{{arrowInfo}}</p><i (click)="toggleEpisodeList($event)" class="fa fa-arrow-circle-down" aria-hidden="true"></i></div>
		</div>
		<div #episodeList class="col-xs-6 box3 episodeListMobile">
			<div *ngFor="let e of episodes; let i=index">
				<div class="imgWrapper" (click)="loadEpisode(i, $event)">
					<img alt="Image" src="{{e.imageURL}}"/>
					<span class="duration">{{e.video.duration}}</span>
				</div>
				<span class="{{getClass(i)}}" data-id="i" (click)="loadEpisode(i, $event)">
					<span>EP - </span><span [innerHTML]="e.title"></span>
				</span>
				<span class="plus" (click)="addToQueue(i, $event)">+</span>
				<div class="message"></div>
			</div>
		</div>
		<div class="col-xs-6 box2">
			<h3 *ngIf="videoMetaData">{{videoMetaData.series.name}}</h3>
			<hr/>
			<p *ngIf="videoMetaData" [innerHTML]="videoMetaData.excerpt"></p>
		</div>
	</div>
	<div  class="row">
		<div class="col-xs-6 box3 episodeList">
			<div *ngFor="let e of episodes; let i=index">
				<div class="imgWrapper" (click)="loadEpisode(i, $event)">
					<img alt="Image" src="{{e.imageURL}}"/>
					<span class="duration">{{e.video.duration}}</span>
				</div>
				<span class="{{getClass(i)}}" data-id="i" (click)="loadEpisode(i, $event)">
					EP - <span [innerHTML]="e.title"></span>
				</span>
				<span class="plus" (click)="addToQueue(i, $event)">+</span>
				<div class="message"></div>
			</div>
		</div>
		<div class="col-xs-6 box4">
			<h3>Om serien</h3>
			<p *ngIf="videoMetaData">{{videoMetaData.series.description}}</p>
		</div>
	</div>
</div>
