<div id="programContainer" class="container">
  <div class="row">
  	<div class="col-xs-12 cover-wrapper">
  		<div class="col-xs-8">
  			<img width="100%" height="450px" src="https://d1fc69ngj1uuz1.cloudfront.net/4fc630da04bf725f69000053/fb1024_idol2016.png?1"/>
  		</div>
  		<div class="title">
  			<strong>Idol 2016</strong>
  			<p>Swedish reality-competition talent show</p>
  		</div>
  	</div>
  	<div class="col-xs-12 content">
  		<div class="col-xs-6">
  			<strong>Om program</strong>
  			<p>Progammet handlar om progammet handlar om progammet handlar om progammet handlar om progammet handlar om progammet handlar om progammet handlar om progammet handlar om progammet handlar om progammet handlar om progammet handlar om progammet handlar om progammet handlar om progammet handlar om progammet handlar om progammet handlar om progammet handlar om progammet handlar om progammet handlar om progammet handlar om progammet handlar om </p>
  		</div>
  		<div class="episodes">
  			<strong>Klipp</strong>
  			<span>Spela upp alla <i class="fa fa-play" aria-hidden="true"></i></span>
  			<div class="episode">
  				<div class="image-wrapper" (click)="goToEpisode('episode1')">
  					<img width="180px" height="100px" src="https://d1fc69ngj1uuz1.cloudfront.net/4fc630da04bf725f69000053/fb1024_idol2016.png?1"/>
  					<span>3:10</span>
  				</div>
  				<div class="info-wrapper">
  					<strong (click)="goToEpisode('episode1')">Avsnitt 1: title</strong>
  					<p>Kort sammanfattning om avsnittet kort sammanfattning om avsnittet kort sammanfattning om avsnittet kort sammanfattning om avsnittet</p>
  				</div>
  			</div>
  			<div class="episode">
  				<div class="image-wrapper" (click)="goToEpisode('episode2')">
  					<img width="180px" height="100px" src="https://d1fc69ngj1uuz1.cloudfront.net/4fc630da04bf725f69000053/fb1024_idol2016.png?1"/>
  					<span>1:32:10</span>
  				</div>
  				<div class="info-wrapper">
  					<strong (click)="goToEpisode('episode2')">Avsnitt 2: title</strong>
  					<p>Kort sammanfattning om avsnittet kort sammanfattning om avsnittet kort sammanfattning om avsnittet kort sammanfattning om avsnittet</p>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
</div>
