@import "../../../utility";

@mixin right-arrow($size, $color) {
	content: " ";
	position: absolute;
	top:50%;
	left:100%;
	margin-top: -#{$size}px;
	border-width: #{$size}px;
	border-style: solid;
	border-color: transparent transparent transparent $color;
}

@mixin left-arrow($size, $color) {
	content: " ";
	position: absolute;
	top: 50%;
	right: 100%;
	margin-top: -#{$size}px;
	border-width: #{$size}px;
	border-style: solid;
	border-color: transparent $color transparent transparent;
}
#programContainer{
	box-sizing: border-box;
	>div{
		margin:0;
	}

	.row{
		position: relative;
		overflow: hidden;
		display: table;
		>div[class*="box"]{
			width: 50%;
			height: 100%;
			position: relative;
			display: table-cell;
			vertical-align: top;
		}
	}

	.episodeListMobile{
		display:none;
		max-height: 0;
		overflow: hidden;
		overflow-y: scroll;
		/* Set our transitions up. */
		-webkit-transition: max-height 0.8s, padding 0.8s;
		-moz-transition: max-height 0.8s, padding 0.8s;
		transition: max-height 0.8s, padding 0.8s;
	}
	.imgWrapper{
		width: 20%;
		height: 70px;
		margin: 0 20px;
		display: inline-block;
		position: relative;
		img{
			width: 100%;
			height: 100%;
		}
		.duration{
			bottom: 2px;
			right: 2px;
			padding: 3px;
			background-color: rgba(68, 5, 5, 0.5);
			position: absolute;
			border-radius: 10px;
		}
	}
	.toggleEpisodeListArrow{
		display: none;
	}

	.col-xs-12{
		padding: 0;
	}

	.playerContainer{
		width: 100%;
		background-color: black;
		margin-top: 10px;
	}

	.rotate180{
		-ms-transform: rotate(180deg); /* IE 9 */
		-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
		transform: rotate(180deg);
	}
	.rotate0{
		-ms-transform: rotate(0deg); /* IE 9 */
		-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
		transform: rotate(0deg);
	}
	.rotate180, .rotate0{
		/* Set our transitions up. */
		-webkit-transition: transform 0.8s;
		-moz-transition: transform 0.8s;
		transition: transform 0.8s;
	}
	.selected{
		color: #e67334;
	}

	@for $box from 1 through 4 {
		$bg-color: white;
		$padding: 35px 35px 25px;
		$h3-color: black;

		.box#{$box} {
			@if $box == 1 {
				$bg-color: #3a3a3a;
				$padding: 25px 35px 0px;
				$h3-color: white;

				& span{color:#e67334;}

			}@else if $box == 2 {
				$bg-color: #f3f3f3;
				$padding: 25px 35px 0px;
				$h3-color: #e67233;

				&::after {
					@include left-arrow($size: 20, $color: #f3f3f3);
					z-index: 1;
				}
				p { margin-top: 5px; }
				hr{border-width:1px; margin:0;}
			}@else if $box == 3 {
				$bg-color: #646464;
				$padding: 20px 0px;
				color: white;

				>div{
					padding: 7px 0;
					border-bottom:1px solid #5a5a5a;
					.duration{
						min-width: 25%;
						display: inline-block;
						text-align: center;
					}
					.plus{padding:0 20px;}
					.title, .plus{
						cursor: pointer;
						&:hover{color: #e67334;}
					}
					.title{
						width: 55%;
						display: inline-block;
						vertical-align: top;
					}
				}
			}@else if $box == 4 {

				p { margin-top: 20px; }
			}

			padding: $padding;
			background-color: $bg-color;

			h3 { color: $h3-color; }
		}
	}
}
:host /deep/ {
	.message{
		padding: 0;
		width: 100%;
		height: 100%;
		background-color: #304c01;
		text-align: center;
		font-size: 0;
		transition: padding 0.5s, font-size 0.5s;
		-webkit-transition: padding 0.5s, font-size 0.5s; /* For Safari 3.1 to 6.0 */
	}
}

// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-only(xs) {
	#programContainer{
		width: 100%;
		padding: 0;
		.box1, .box2, .box4{
			h3{font-size:1.15rem;}
		}
		.box3 {
			span{font-size: 0.75rem;}
		}
		.row{
			>div[class*="box"]{
				width: 100%;
				display: block;
			}
		}
		.box1{
			z-index: 1;
			>div{
				display: block;
				color: #7d7d7d;
				text-align: center;
				margin-bottom: -25px;
				p{margin-bottom: 0;}
				i{
					font-size: 2rem;
					cursor: pointer;
					&:hover{
						color: #ff8300;
					}
				}
			}
		}
		.episodeListMobile{
			display:block !important;
		}
		.episodeList{
			display: none !important;
		}
		.toggleEpisodeListArrow{
			display:block !important;
		}
		.imgWrapper{
			height: 48px;
			margin: 0 10px;
		}
	}
}

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-only(sm) {
	#programContainer{
		width: 100%;
		padding: 0;
		.box1, .box2, .box4{
			h3{font-size:1.15rem;}
		}
		.box3 {
			span{font-size: 0.75rem;}
		}
		.row{
			>div[class*="box"]{
				width: 100%;
				display: block;
			}
		}
		.box1{
			z-index: 1;
			>div{
				display: block;
				color: #7d7d7d;
				text-align: center;
				margin-bottom: -25px;
				p{margin-bottom: 0;}
				i{
					font-size: 2rem;
					cursor: pointer;
					&:hover{
						color: #ff8300;
					}
				}
			}
		}
		.episodeListMobile{
			display:block !important;
		}
		.episodeList{
			display: none !important;
		}
		.toggleEpisodeListArrow{
			display:block !important;
		}
		.imgWrapper{
			height: 48px;
			margin: 0 10px;
		}
	}
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-only(md){
	:host /deep/ {
		#muteBtn_wheel{
			top: 28% !important;
		}
	}
	#programContainer{
		.box1, .box2, .box4{
			h3{font-size:1.25rem;}
		}
		.box3 {
			span{font-size: 0.8rem;}
		}
		.episodeListMobile{
			display:none !important;
		}
		.episodeList{
			display: table-cell !important;
		}
		.toggleEpisodeListArrow{
			display:none !important;
		}
		.imgWrapper{
			height: 48px;
			margin: 0 10px;
		}
	}
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-only(lg) {
	#programContainer {
		.episodeListMobile {
			display: none !important;
		}
		.episodeList {
			display: table-cell !important;
		}
		.toggleEpisodeListArrow {
			display: none !important;
		}
		.imgWrapper {
			height: 55px;
			margin: 0 20px;
		}
	}
}
// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-only(xl) {
	#programContainer {
		.episodeListMobile {
			display: none !important;
		}
		.episodeList {
			display: table-cell !important;
		}
		.toggleEpisodeListArrow {
			display: none !important;
		}
	}
}