@mixin right-arrow($size, $color) {
	content: " ";
	position: absolute;
	top:50%;
	left:100%;
	margin-top: -#{$size}px;
	border-width: #{$size}px;
	border-style: solid;
	border-color: transparent transparent transparent $color;
}

@mixin left-arrow($size, $color) {
	content: " ";
	position: absolute;
	top: 50%;
	right: 100%;
	margin-top: -#{$size}px;
	border-width: #{$size}px;
	border-style: solid;
	border-color: transparent $color transparent transparent;
}
#programContainer{
	box-sizing: border-box;

	.row{
		margin:0;
		>div[class*="box"]{
			width: 50%;
			position: relative;
		}
	}

	.col-xs-12{
		padding: 0;
	}

	.playerContainer{
		width: 100%;
		background-color: black;
		margin-top: 10px;
	}

	@for $box from 1 through 4 {
		$bg-color: white;
		$padding: 35px 35px 25px;
		$h3-color: black;

		.box#{$box} {
			@if $box == 1 {
				$bg-color: #3a3a3a;
				$padding: 25px 35px 0px;
				$h3-color: white;

				& span{color:#e67334;}

			}@else if $box == 2 {
				$bg-color: #f3f3f3;
				$padding: 25px 35px 0px;
				$h3-color: #e67233;
				&::after {
					@include left-arrow($size: 20, $color: #f3f3f3);
					z-index: 1;
				}
				p { margin-top: 5px; }
				hr{border-width:1px; margin:0;}
			}@else if $box == 3 {
				$bg-color: #646464;
				$padding: 20px 0px 0px;
				color: white;
				>div{
					padding: 7px 0;
					border-bottom:1px solid #5a5a5a;
					.duration{
						min-width: 25%;
						display: inline-block;
						text-align: center;
					}
					.plus{padding:0 20px;}
					.title, .plus{
						cursor: pointer;
						&:hover{color: #e67334;}
					}
				}
			}@else if $box == 4 {
				p { margin-top: 20px; }
			}

			padding: $padding;
			background-color: $bg-color;

			h3 { color: $h3-color; }
		}
	}
}
:host /deep/ {
	.message{
		padding: 0;
		width: 100%;
		height: 100%;
		background-color: #304c01;
		text-align: center;
		font-size: 0;
		transition: padding 0.5s, font-size 0.5s;
		-webkit-transition: padding 0.5s, font-size 0.5s; /* For Safari 3.1 to 6.0 */
	}
}