@import 'utility';
@import "advertisement-newspaper";
@import "advertisement-web";
@import "advertisement-schedule";
@import "advertisement-covers";

:host {
  overflow: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#container-advertisement {
  font-size: $font-size-lg;
  line-height: $line-height-lg;
  margin-top: $grid-gutter-width-base;
}

.preamble {

  margin-bottom: $grid-gutter-width-base;
}

.content {
  padding: $grid-gutter-width-base/2;
  background: white;
  margin-bottom: $grid-gutter-width-base/2;
}

.contact-info {

  font-size: $font-size-lg;
  color: white;
  background: $ol-orange;

  hr {
    border-color: white;
  }

  i {
    vertical-align: middle;
    font-size: $grid-gutter-width-base/2;
    margin-right: $grid-gutter-width-base/4;
    text-align: center;
    width: $grid-gutter-width-base;
    line-height: $line-height-base;
  }
}
