<div class="container" id="container-advertisement">
  <h1>Annonsera</h1>
  <p class="preamble">
    Med sin upplaga på ca 10 000 ex är Osqledaren Sveriges största
    tekniska studenttidning. Tidningen är helt annonsfinansierad och
    skickas kostnadsfritt hem till alla kårmedlemmar vid Kungliga
    tekniska högskolan (KTH) i Stockholm fyra gånger per läsår.
    Osqledaren är det bästa sättet att nå studenter på KTH. Osqledaren drivs ideellt av studenter under ledning av
    en heltidsarvoderad chefredaktör (tillika ansvarig utgivare). Tillsammans
    skriver vi om det som händer på KTH, studentkåren, nöje, teknik,
    arbetsmarknad och annat som intresserar studenterna. Ambitionerna
    är höga både vad gäller det redaktionella innehållet såväl som
    produktionen. Osqledaren är ett utmärkt annonseringsalternativ för er som vill nå KTH-studenter eftersom vi
    kommunicerar med framtidens KTHingenjörer på ett naturligt och välbekant sätt, regelbundet och i stor volym.
  </p>

  <h2>Utgivningsplan och prislista 2016/2017</h2>
  <div class="content newspaper-ad">
    <h3>Annons i fysisk tidning</h3>
    <hr/>
    <div class="offers">
      <div class="row">

        <div class="offer col-12 col-lg-6 col-xl-4">
          <figure class="figure general">
            <div class="inner">
              <h4>Allmänt</h4>
              <div class="description">
                <ul>
                  <li>Tryckteknik: Fyrafärgs CMYK.</li>
                  <li>Upplösning: 300 dpi</li>
                  <li>Utfall: 3mm</li>
                </ul>
                <ul>
                  <li>Inlaga: 90g Arctic Matt</li>
                  <li>Omslag: 250g Arctic Matt</li>
                </ul>
              </div>
              <div>
                <object class="toner-icon" type="image/svg+xml" width="36" height="36"
                        data="/assets/svg/toner-icon.svg"></object>

                <object class="margin-icon" type="image/svg+xml" width="70" height="36"
                        data="/assets/svg/margin-icon.svg"></object>
              </div>
            </div>
          </figure>
        </div>

        <div class="offer col-12 col-lg-6 col-xl-4">
          <figure class="figure figure1">
            <div class="box box1"></div>
          </figure>
          <div class="description">
            <h4>Baksida</h4>
            <ul>
              <li>Mått: 200 x 225 mm</li>
              <li>29 900 kr</li>
            </ul>
          </div>
        </div>
        <div class="offer col-12 col-lg-6 col-xl-4">
          <figure class="figure figure2">
            <div class="box box1"></div>
            <div class="box box2"></div>
          </figure>
          <div class="description">
            <h4>Halvsida liggande / stående</h4>
            <ul>
              <li>Mått: 200 x 120 mm / 95 x 250 mm</li>
              <li>13 900 kr</li>
            </ul>
          </div>
        </div>

        <div class="offer col-12 col-lg-6 col-xl-4">
          <figure class="figure figure3"></figure>
          <div class="description">
            <h4>Helsida första uppslaget</h4>
            <ul>
              <li>Mått: 200 x 250 mm</li>
              <li>24 900 kr</li>
            </ul>
          </div>
        </div>

        <div class="offer col-12 col-lg-6 col-xl-4">
          <figure class="figure figure4">
            <div class="box box1"></div>
            <div class="box box2"></div>
          </figure>
          <div class="description">
            <h4>Kvartssida stående</h4>
            <ul>
              <li>Mått: 95 x 120 mm</li>
              <li>8 900 kr</li>
            </ul>
          </div>
        </div>

        <div class="offer col-12 col-lg-6 col-xl-4">
          <figure class="figure figure5"></figure>
          <div class="description">
            <h4>Helsida inlaga</h4>
            <ul>
              <li>Mått: 200 x 250 mm</li>
              <li>21 900 kr</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content web-ad">
    <h3>Webbannons</h3>
    <hr/>
    <div class="row">
      <div class="col-sm-12 col-xl-4">
        <div class="info">
          <h4>Allmänt</h4>
          <ul>
            <li>Bildannonser: JPEG, PNG eller GIF, levereras med måladress och annonstitel</li>
            <li>Osqledaren utvärderar inte antal klick på publicerade annonser.</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-xl-8">
        <figure class="figure">
          <object type="image/svg+xml" width="450" height="570"
                  data="/assets/svg/web-ad-illustration.svg"></object>
        </figure>
        <div class="description">
          <div class="t">
            <h3>Toppbanner</h3>
            <ul>
              <li>Mått: 2340 x 288 px</li>
              <li>2 Veckor: 3 990 kr</li>
              <li>4 Veckor: 7 490 kr</li>
            </ul>
          </div>
          <div class="h" *ngIf="false">
            <h3>Högerspalt (ej Mobil)</h3>
            <ul>
              <li>Mått: 340 x 220 px</li>
              <li>2 Veckor: 2 490 kr</li>
              <li>4 Veckor: 3 990 kr</li>
            </ul>
          </div>
          <div class="n" *ngIf="false">
            <h3>Nyhetsflöde</h3>
            <ul>
              <li>Mellan nyhet två och tre</li>
              <li>Mått: 770 x 168 px</li>
              <li>2 Veckor: 3 490 kr</li>
              <li>4 Veckor: 5 990 kr</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content ad-schedule">
    <h3>Utgivningsplan</h3>
    <hr/>
    <div class="row">
      <div class="info col-sm-12 col-lg-6 col-xl-4">
        <dl>
          <dt class="h4">Utgåvor</dt>
          <dd>
            <ul>
              <li>
                <b>Utgåva 1</b>
                <p>Manusstopp: 14/10 <br/>Utgivning: V. 45</p>
              </li>
              <li>
                <b>Utgåva 2</b>
                <p>Manusstopp: 5/1 <br/>Utgivning: V. 5</p>
              </li>
              <li>
                <b>Utgåva 3</b>
                <p>Manusstopp: 3/3 <br/>Utgivning: V. 13</p>
              </li>
              <li>
                <b>Utgåva 4</b>
                <p>Manusstopp: 7/4 <br/>Utgivning: V. 18</p>
              </li>
            </ul>
          </dd>
        </dl>
      </div>
      <div class="calendar col-sm-12 col-lg-6 col-xl-4">
        <object type="image/svg+xml" width="400" height="535"
                data="/assets/svg/ad-schedule-illustration.svg"></object>
      </div>
    </div>
  </div>

  <div class="content contact-info">
    <h3>Vill ert företag annonsera i Osqledaren?</h3>
    <hr/>
    <div class="row">
      <div class="contact col-12 col-lg-6">
        <dl>
          <dt class="h4">Kontakta Erik Tingström via:</dt>
          <dd>
            <ul>
              <li><i class="fa fa-envelope-o" aria-hidden="true"></i><span>{{erik_tingstrom_email}}</span>
              </li>
              <li><i class="fa fa-phone" aria-hidden="true"></i><span>{{erik_tingstrom_mobile}}</span>
              </li>
            </ul>
          </dd>
        </dl>
      </div>
      <div class="contact col-12 col-lg-6">
        <dl>
          <dt class="h4">Har du frågor till Osqledaren? Vi nås via:</dt>
          <dd>
            <ul>
              <li><i class="fa fa-envelope-o" aria-hidden="true"></i><span>{{osqledaren_email}}</span>
              </li>
              <li><i class="fa fa-phone" aria-hidden="true"></i><span>{{osqledaren_mobile}}</span></li>
              <li><i class="fa fa-mobile" aria-hidden="true"></i><span>{{osqledaren_telephone}}</span>
              </li>
            </ul>
          </dd>
        </dl>
      </div>
    </div>

  </div>


</div>
<div id="covers">
  <div class="wrapper">
    <img *ngFor="let url of covers" src="{{url}}"/>
  </div>
</div>
