<h1 class="archive-heading" [innerHTML]="heading"></h1>
<masonry [options]="masonryOptions" (layoutComplete)="layoutComplete($event)" class="article-container">
  <div class="article-grid-sizer"></div>
  <masonry-brick *ngFor="let article of articles"
                 [article]="article"
                 class="article-grid-item brick {{elementSize(article.urgency)}}"></masonry-brick>
</masonry>
<div class="has-more-posts" [class.all-loaded]="!hasMorePosts" [class.hidden]="!isInitialized">
  <div class="btn btn-primary" (click)="appendData()">Hämta fler nyheter</div>
  <p>Alla nyheter har hämtats. Enjoy!</p>
</div>
