@import 'utility';

.imgdiv {
	text-align: center;
	padding: $grid-gutter-width-base 0;
	width: 100%;
}

img {
	max-width: 500px;
	width: 100%;
	margin: 0 0 $grid-gutter-width-base/2;
}

p {
	color: $ol-orange;
	font-size: $font-size-lg;
	margin: 0;
}
