@import 'utility';

footer#site-footer {

  background: black;
  height: auto;
  width: 100%;
  padding: $grid-gutter-width-base 0;

  * {
    color: white;
  }

  a {
    color: white;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .ol {
    margin-bottom: $grid-gutter-width-base/2;
    .footer-logo {
      height: 180px;
      width: auto;
      margin: 0 $grid-gutter-width-base $grid-gutter-width-base/4 0;
    }
  }

  .list {

    float: left;

    @include media-breakpoint-down(lg) {
      max-width: 33%;
    }

    @include media-breakpoint-down(xs) {
      max-width: none;
      width: 100%;
    }

    > ul {
      margin: 0 $grid-gutter-width-base $grid-gutter-width-base/2 0;

    }

  }

  .social-media {
    float: left;

    .channel {
      margin-right: $grid-gutter-width-base/4;
    }
  }

}
