$print-issue-width: 25%;

h2 {
	padding: 30px 0px;
}

.print-grid-container {
	width: 100%;
	margin-bottom: 30px;

	.print-grid-item {
		width: $print-issue-width;

		img {
			width: 100%;
			height: auto;
		}
	}
}