@import 'utility';

.web-ad {

  @include clearfix();

  .figure {
    width: 50%;
    float: left;

    object {
      width: 100%;
      height: auto;
    }
  }

  .description {
    width: 50%;
    float: left;

    .t {
      margin-top: 10%;
      margin-left: $grid-gutter-width-base/2;
    }

  }

  .info {
    margin-bottom: $grid-gutter-width-base/2;
  }

  .note {
    display: inline-block;
    width: 200px;
    text-align: center;
    color: #e26857;
    font-size: $font-size-h5;
    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    margin-left: 55px;
    margin-top: 113px;
    position: absolute;

    .note-arrow {
      margin-left: -280px;
      -ms-transform: rotate(10deg);
      -webkit-transform: rotate(10deg);
      transform: rotate(10deg);
    }
  }

  .lineUp {
    top: -10px;
    position: relative;
    font-style: $font-size-base;
    color: $link-color;
  }
}