<div class="wrapper">
  <div class="container-fluid">
    <ng-masonry-grid [masonryOptions]="masonryOptions" (layoutComplete)="layoutComplete($event)"
             class="episode-container">
      <div class="episode-grid-sizer"></div>
      <ng-masonry-grid-item *ngFor="let episode of episodes" [episode]="episode"
                     class="episode-grid-item"></ng-masonry-grid-item>
    </ng-masonry-grid>
    <div class="has-more-posts" [class.all-loaded]="!hasMorePosts" [class.hidden]="!isInitialized">
      <div class="btn btn-primary" (click)="appendData()">Hämta fler avsnitt</div>
      <p>Alla avsnitt har hämtats. Enjoy!</p>
    </div>
  </div>
</div>
