@import 'utility';

h2 {
  margin: $grid-gutter-width-base/3 $grid-gutter-width-base/3 $grid-gutter-width-base/6;
  font-size: $font-size-lg;
}

.item {

  @include clearfix;
  display: block;
  transition: all 0.2s ease-in-out;

  &:hover {
    background: $gray-200;
  }

  a {
    cursor: pointer;
  }

  .title, .remove, .play {
    display: block;
    padding: $grid-gutter-width-base/12 $grid-gutter-width-base/3;
  }

  .title {
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: calc(100% - 104px);
  }

  .remove, .play {
    border-left: 1px solid white;
    opacity: 0;
    display: block;
    float: right;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: white;
      background: $brand-primary;
    }

  }

  .play:hover {
    background: $gray-light;
  }

  &:hover {
    .remove, .play {
      opacity: 1;
    }
  }

  @include media-breakpoint-down(md) {

    .remove, .play {
      border-left: 1px solid $gray-100;
      opacity: 1;
    }
    background: $gray-200;
    border-bottom: 1px solid white;
  }

}