<div id="playContainer" class="container">
	<div  class="row">
		<div *ngIf="videoMetaData" class="col-xs-12 playerContainer">
			<app-video-player #playerRef [videoMetaData]="videoMetaData" [context]="'play'" [episodes]="episodesOnstage"></app-video-player>
		</div>
	</div>
	<div #searchBarElement class="row search">
		<div class="col-xs-6">
			<h3 #typeTitleElement>{{actualTypeTitle}}<span>{{searchTermText}}</span></h3>
			<form (ngSubmit)="searchPlay($event)" novalidate>
				<button type="submit"><i #searchButtonElement class="fa fa-search" aria-hidden="true"></i></button>
				<div>
					<input name="searchTerm" [(ngModel)]="searchTerm" required placeholder="Ange sökord" type="text" (change)="toggleCleanFieldBtn()" (keyup)="toggleCleanFieldBtn()" (keypress)="toggleCleanFieldBtn()"/>
					<span *ngIf="!emptyInput" (click)="cleanInputField()">x</span>
				</div>
			</form>

			<div #filterMenu class="filter">
				<div class="selected" (click)="getEpisodes('Senaste', $event)">Senaste Nytt</div>
				<div (click)="getEpisodes('Serier', $event)">Serier A-Ö</div>
				<div (click)="getEpisodes('Rampljuset', $event)">Rampljuset</div>
				<div (click)="getEpisodes('Topp', $event)">Veckans Topp</div>
			</div>
		</div>
	</div>
	<div  class="row">
		<div #gridContainer class="col-xs-12 pod-play-grid">
			<div class="episodeContainer" *ngIf="displayLatestEpisodes">
				<div class="episode" *ngFor="let e of latestEpisodes; let i=index">
					<div class="image-wrapper" (click)="loadEpisode(i)">
						<img width="180px" height="100px" src="{{e.imageURL}}"/>
						<span>{{e.video.duration}}</span>
					</div>
					<div class="info-wrapper">
						<h3><strong (click)="loadEpisode(i)">Avsnitt: <span [innerHTML]="e.title"></span></strong></h3>
						<p class="excerpt" [innerHTML]="e.excerpt | textOverflowEllipsis"></p>
					</div>
				</div>
				<app-loader *ngIf="!loaded"></app-loader>
				<div *ngIf="isExistMore_latestEpisodes" class="getMore" (click)="getMore()">
					<div><p>Hämta flera</p><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></div>
				</div>
			</div>
			<div class="seriesContainer" *ngIf="displaySeries">
				<div class="series" *ngFor="let s of series; let j=index">
					<h3><strong (click)="loadEpisode(j)"><span [innerHTML]="s.name"></span></strong></h3>
					<span>Antal avsnitt: {{s.episodes_count}}</span>
					<p [innerHTML]="s.description | textOverflowEllipsis"></p>
				</div>
				<app-loader *ngIf="!loaded"></app-loader>
			</div>
			<div class="episodeContainer" *ngIf="displaySearchResults">
				<div class="episode" *ngFor="let e of searchResults; let i=index">
					<div class="image-wrapper" (click)="loadEpisode(i)">
						<img width="180px" height="100px" src="{{e.imageURL}}"/>
						<span>{{e.video.duration}}</span>
					</div>
					<div id="searchEpisodeText" class="info-wrapper">
						<h3><strong (click)="loadEpisode(i)">Avsnitt: <span [innerHTML]="e.title | markMatchedWords:matchTerm"></span></strong></h3>
						<p class="excerpt" [innerHTML]="e.excerpt | textOverflowEllipsis | markMatchedWords:matchTerm"></p>
					</div>
				</div>
				<app-loader *ngIf="!loaded"></app-loader>
				<div *ngIf="isExistMore_searchResults" class="getMore" (click)="getMore()">
					<div><p>Hämta flera</p><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></div>
				</div>
				<div *ngIf="noResults">Inga resultat hittades för "<strong>{{searchTerm}}</strong>".</div>
			</div>
			<div class="episodeContainer" *ngIf="displayFeaturedEpisodes">
				<div class="episode" *ngFor="let e of featuredEpisodes; let i=index">
					<div class="image-wrapper" (click)="loadEpisode(i)">
						<img width="180px" height="100px" src="{{e.imageURL}}"/>
						<span>{{e.video.duration}}</span>
					</div>
					<div class="info-wrapper">
						<h3><strong (click)="loadEpisode(i)">Avsnitt: <span [innerHTML]="e.title"></span></strong></h3>
						<p class="excerpt" [innerHTML]="e.excerpt | textOverflowEllipsis"></p>
					</div>
				</div>
				<app-loader *ngIf="!loaded"></app-loader>
				<div *ngIf="isExistMore_featuredEpisodes" class="getMore" (click)="getMore()">
					<div><p>Hämta flera</p><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></div>
				</div>
			</div>
			<div class="episodeContainer" *ngIf="displayWeeklyTopEpisodes">
				<div class="episode" *ngFor="let e of weeklyTopEpisodes; let i=index">
					<div class="image-wrapper" (click)="loadEpisode(i)">
						<img width="180px" height="100px" src="{{e.imageURL}}"/>
						<span>{{e.video.duration}}</span>
					</div>
					<div class="info-wrapper">
						<h3><strong (click)="loadEpisode(i)">Avsnitt: <span [innerHTML]="e.title"></span></strong></h3>
						<p class="excerpt" [innerHTML]="e.excerpt | textOverflowEllipsis"></p>
					</div>
				</div>
				<app-loader *ngIf="!loaded"></app-loader>
				<div *ngIf="isExistMore_weeklyTopEpisodes" class="getMore" (click)="getMore()">
					<div><p>Hämta flera</p><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></div>
				</div>
			</div>

		</div>
	</div>
</div>