<div class="episode-grid-item-content top">
  <div class="episode-grid-item-header">
    <app-article-image [renditions]="episode.renditions"></app-article-image>
    <div class="episode-grid-item-text">
      <div class="episode-excerpt" [innerHTML]="episode.excerpt"></div>
    </div>
  </div>
</div>
<div class="episode-grid-item-content bottom">
  <div class="episode-grid-item-content-inner">
    <article>
      <h3 class="episode-title" [innerHTML]="episode.headline"></h3>
      <ul class="episode-meta">
        <li class="episode-series">Analog film</li>
        <li class="episode-play-count">14k visningar</li>
      </ul>
    </article>
  </div>
</div>