@import 'utility';

.archive-heading {
  text-align: center;
  margin: $grid-gutter-width-base/2 0;

  span {
    color: $link-color;
  }
}

.has-more-posts {

  font-weight: bold;

  &.hidden {
    display: none;
  }

  text-align: center;

  .btn {
    cursor: pointer;
    color: white;
    font-weight: bold;
    margin: $grid-gutter-width-base auto;
  }

  p {
    display: none;
    margin: $grid-gutter-width-base auto;
  }

  &.all-loaded {
    .btn {
      display: none;
    }

    p {
      display: block;
    }
  }
}

.episode-container {
  position: relative;
  overflow: hidden;
  margin: 0 (-$grid-gutter-width-base/6);
}

.episode-grid-item, .episode-grid-sizer {
  width: 16.6667%;
  position: relative;
  padding: 0 $grid-gutter-width-base/6;

  &:hover {
    img {
      transform: scale(1.05, 1.05);
    }

    .episode-grid-overlay {
      opacity: 0.9 !important;
    }
  }

  @include clearfix;

  @include media-breakpoint-down(lg) {
    width: 25%;
  }

  @include media-breakpoint-down(md) {
    width: 33.33%;
  }

  @include media-breakpoint-down(sm) {
    width: 50%;
    .episode-grid-overlay {
      background:transparent!important;
      .episode-excerpt {
        display: none!important;
      }
      opacity: 1!important;
    }
  }
}

.episode-grid-item-content {
  position: relative;
  width: 100%;

  &.top {
    padding-top: 66.66%; /* 3:2 Aspect Ratio */
  }

  .episode-grid-item-content-inner {
    margin: $grid-gutter-width-base/6 0 $grid-gutter-width-base/3;
  }

  img {
    transition: transform 0.2s ease-in-out;
    max-width: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    max-height: 100%;
    min-height: 100%;
    object-fit: cover;
  }

  .episode-grid-item-header {
    background: $gray-lightest;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
  }
}

h3.episode-title {
  font-weight: bold;
  font-size: $font-size-base;
  line-height: $line-height-base;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin:0;
}

.episode-grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: $grid-gutter-width-base/4;
  background: $gray-dark;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  font-size: $font-size-small;

  .episode-controls {
    position: absolute;
    left:0;
    bottom:0;
    width: 100%;
    padding: 0 $grid-gutter-width-base/4 $grid-gutter-width-base/4;
    max-height: $grid-gutter-width-base/2 + $grid-gutter-width-base/4;
    height: auto;
    overflow: hidden;

    a {
      color: white;
      &:hover {
        color: $brand-primary;
      }
    }

    i {
      margin-right: $grid-gutter-width-base/12;
    }
  }

  .episode-excerpt {
    color:white;
    margin-bottom: $grid-gutter-width-base/2;
    overflow: hidden;
  }
}

ul.episode-meta {
  margin:0;
  padding:0;
  font-size: $font-size-small;
  color:$gray-light;

  li {
    display: inline;
  }

  li.episode-play-count:before {
    content:' | ';
    display: inline;
  }

}
