<div class="article-grid-item-content top">
	<div class="article-grid-item-header">
		<img src="http://68.media.tumblr.com/1eb818965bac9c1c9766104cb32f7e80/tumblr_ok2dd79b6G1smipnlo4_1280.jpg"/>
	</div>
</div>
<div class="article-grid-item-content bottom">
	<div class="article-grid-item-content-inner">
		<article>
			<h3 class="article-title"><a title="{{article.headline}}" routerLink="/artikel/{{article.slug}}" [innerText]="article.headline"></a></h3>
			<time class="article-date" [innerText]="'Publicerad: ' +(article.versioncreated | date: 'y-MM-dd')"></time>
			<div class="article-grid-item-text" [innerText]="article.description_text"></div>
		</article>
	</div>
</div>