<div class="article-grid-item-content top">
	<div class="article-grid-item-header">
		<img src="http://65.media.tumblr.com/8b567e740e5fe585d168d0245a3ab1ba/tumblr_o8px5jx5Se1uu9fqho1_1280.jpg"/>
	</div>
</div>
<div class="article-grid-item-content bottom">
	<div class="article-grid-item-content-inner">
		<article>
			<h3 class="article-title" [innerText]="article.headline"></h3>
			<time class="article-date">6 okt 2016</time>
			<div class="article-grid-item-text" [innerText]="article.body_text"></div>
		</article>
	</div>
</div>