<div class="article-grid-item-content top">
	<div class="article-grid-item-header">
		<app-article-image [renditions]="article.renditions"></app-article-image>
	</div>
</div>
<div class="article-grid-item-content bottom">
	<div class="article-grid-item-content-inner">
		<article>
			<h3 class="article-title"><a title="{{article.headline}}" routerLink="/artikel/{{article.slug}}" [innerText]="article.headline"></a></h3>
			<time class="article-date" [innerText]="'Publicerad: ' +(article.versioncreated | date: 'y-MM-dd')"></time>
			<div class="article-grid-item-text" [innerText]="article.description_text"></div>
		</article>
	</div>
</div>