@import 'utility';

.media-playlist-widget-button {
  margin-right: $grid-gutter-width-base/4;
  color: white;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;

  i {
    color: white;
  }

  &:hover {
    opacity: 1;
  }
}