/* Global stylesheet */
@import "fonts";
@import "utility";
@import "loader";

body {

  background: white;

  &.article, &.article-preview {
    background: white;
  }

}

hr {
  margin: $grid-gutter-width-base/4 auto $grid-gutter-width-base/2;
  border: 3px $body-color;
}
