$grid-element-height: 230px;
$grid-element-height-big: 460px; 

.container {
	display: flex;
	flex-direction: row-reverse;
}

.col-xs, .col-xs-12, .col-sm-6 {
	background: lightblue;
	border: 1px solid #222 !important;
	height: $grid-element-height;
}

.article-grid-sizer,
.article-grid-item {
	width: 33%;
}

.article-grid-item {
	border: 1px solid blue;
	background: rgba(155,155,155,0.3);

	.article-grid-item-content {
		position: relative;
    	width: 100%;
   		padding-top: 66.66%; /* 3:2 Aspect Ratio */
	}

	.article-grid-item-content.top { 
		background: lightblue;
	}

	.article-grid-item-header,
	.article-grid-item-text {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		overflow: hidden;
	}

	.article-grid-item-content img,
	.article-grid-item-content iframe { 
		width: 100%;

	}
	.article-grid-item-content iframe {
		height: 100%;
		display: block;
	}
}

.article-grid-item.big {
	width: 66%;
}