$article-content-text-padding: 10px;


body { background: #ddd; }

.container {
	width: 95%;
}


.article-grid-sizer,
.article-grid-item {
	width: 33%;
}
.article-grid-item.big {
	width: 66%;
}

.article-grid-item {
	background: #fff;

	.article-grid-item-content {
		position: relative;
    	width: 100%;
   		padding-top: 66.66%; /* 3:2 Aspect Ratio */

   		img,
		iframe { 
			width: 100%;

		}
		iframe {
			height: 100%;
			display: block;
		}
	}

	.article-grid-item-content.top { 
		background: lightblue;
	}

	.article-grid-item-header,
	.article-grid-item-text {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		overflow: hidden;
	}
	.article-grid-item-text {
		padding: $article-content-text-padding;
	}

	h3.article-title {
		font-weight: bold;
		font-size: 1.6em;
	}
	time.article-date {
		position: absolute;
		bottom: $article-content-text-padding;
		left: $article-content-text-padding;
	}
}

