//Return a color of a given name
@function getColor($name) {
	@if $name == "facebook" {
		@return #3b5998;
	}@else if $name == "twitter" {
		@return #1da1f2;
	}@else if $name == "pinterest" {
		@return #bd081c;
	}
}

//Style the article share buttons
.share-buttons {
	padding: 5px;
	margin: 20px 0 40px;

	[class*="button-"] {
		padding: 5px;
		color: white;
		font-size: 0.85em;
		display: inline-block;
		margin-right: 15px;

		img {
			width: 30px;
			height: 30px;
		}
	}
}

//Set background color of the share buttons
@each $name in "facebook", "twitter", "pinterest" {
	.button-#{$name} {
		background-color : getColor($name);

		@if $name == "facebook" {
			padding: 5px 20px !important;
			img {
				width: 13px !important;
				margin-right: 10px;
			}
		}
	}
}

/* For mobile phones: */
@media only screen and (max-width: 600px) {
	.share-buttons {
		[class*="button-"] {
			img {
				width: 20px !important;
				height: 20px !important;
			}
		}
	}
}

/* For tablets: */
@media only screen and (min-width: 600px) and (max-width: 768px) {
	.share-buttons {
		[class*="button-"] {
			img {
				width: 25px !important;
				height: 25px !important;
			}
		}
	}
}