nav {
    border-radius: 0 !important;
    
    font-family: "Proxima Nova Semibold", sans-serif;

    background-color: orange; // TODO

    a {
        color: white !important;
        text-transform: uppercase;
    }

}

