$ol_orange: #f05022;
$header_padding: 10px 25px;
$submenu_color: dark-grey;
$logo_maxwidth: 40px;

.navbar {
    padding: 0;
    margin: 0;

    a {
        color: white !important;
        text-transform: uppercase;
    }

    .navdiv {
        display: flex;
        align-items: center;

        background-color: $ol_orange;
        padding: $header_padding;
        
        border-radius: 0 !important;
        
        font-family: "Proxima Nova Semibold", sans-serif;

        .submenu-button {
            margin-left: auto;
        }

        .navbar-brand {
            img {
                max-width: $logo_maxwidth;
            }
        }
    }

    #exCollapsingNavbar {
        div {
            background-color: $submenu_color !important;
        }
    }
}
