.navbar {
    padding: 0;
    margin: 0;
}

.navdiv {
    padding: 10px;

    border-radius: 0 !important;
    
    font-family: "Proxima Nova Semibold", sans-serif;

    background-color: orange; // TODO

    a {
        color: white !important;
        text-transform: uppercase;
    }

}

