#main-nav-collapsible {
	overflow: hidden;
	transition: all 0.2s ease-in-out;

	.container {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	a {
	    color: white !important;
	    text-transform: uppercase;
	    padding: 15px 0;
	  }

	.navbar {
		padding: 0;
	}
}
