<div id="playContainer" class="container">
	<div  class="row">
        <div class="col-xs-12">
        	<strong class="page-title">OL Play</strong>
        </div>
    </div>
    <div  class="row">
        <div class="col-xs-12">
        	<div class="bar">
        		<strong>Populära programmen</strong>
        		<span>Visa alla</span>
        	</div>
        	
        	<div class="clips-container">
        		<div class="clip">
        			<div class="cover" (click)="goToSingleProgram('Idol-2016')">
        				<img src="https://d1fc69ngj1uuz1.cloudfront.net/4fc630da04bf725f69000053/fb1024_idol2016.png?1"/>
        			</div>
        			<div class="title" (click)="goToSingleProgram('Idol-2016')"><strong>Idol 2016</strong></div>
        		</div>
        		<div class="clip">
        			<div class="cover">
        				
        			</div>
        			<div class="title"><strong>Idol 2016</strong></div>
        		</div>
        		<div class="clip">
        			<div class="cover">
        				
        			</div>
        			<div class="title"><strong>Idol 2016</strong></div>
        		</div>
        		<div class="clip">
        			<div class="cover">
        				
        			</div>
        			<div class="title"><strong>Idol 2016</strong></div>
        		</div>
        	</div>
        	<div class="bar">
        		<span><<</span>
        		<span>>></span>
        	</div>
        </div>
    </div>
    <div  class="row">
        <div class="col-xs-12">
        	<div class="bar">
        		<strong>Intervjuer och debatt</strong>
        		<span>Visa alla</span>
        	</div>
        	<div class="clips-container">
        		<div class="clip">
        			<div class="cover" (click)="goToSingleProgram('Svarta-hål-och-stjärnstatus')">
        				<img width="200px" height="120px" src="http://sverigesradio.se/sida/images/406/3566303_2048_1151.jpg?preset=article-slider"/>
        			</div>
        			<div class="title" (click)="goToSingleProgram('Svarta-hål-och-stjärnstatus')"><strong>Svarta hål och stjärnstatus</strong></div>
        		</div>
        		<div class="clip">
        			<div class="cover">
        				
        			</div>
        			<div class="title"><strong>Title</strong></div>
        		</div>
        		<div class="clip">
        			<div class="cover">
        				
        			</div>
        			<div class="title"><strong>Title</strong></div>
        		</div>
        		<div class="clip">
        			<div class="cover">
        				
        			</div>
        			<div class="title"><strong>Title</strong></div>
        		</div>
        	</div>
        	<div class="bar">
        		<span><<</span>
        		<span>>></span>
        	</div>
        </div>
    </div>
</div>