<div class="loader-overlay app-ui-view-loader" [ngClass]="{
'loaded': loaded,
'initialized': initialized,
'hidden': hidden
}">
  <div class="loader">
    <img src="/assets/img/OL-LOGO_WEB.png">
    <div class="bounce-container">
      <div class="bounce"></div>
      <div class="bounce"></div>
      <div class="bounce"></div>
      <div class="bounce"></div>
      <div class="bounce"></div>
      <div class="bounce"></div>
      <div class="bounce"></div>
      <div class="bounce"></div>
      <div class="bounce"></div>
      <div class="bounce"></div>
    </div>
  </div>
</div>
